{{#if this.searchBannerInstalled}}
  <div class="search-banner">
    <SearchBanner />
  </div>
{{/if}}

{{#if this.showcasedCategoriesInstalled}}
  <TwoTopicList />
{{/if}}

<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?84e65b8a7af6f2d5c09d2d1de5155f83";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
